h1 {
    font-size: 30px;
}

* {
    font-style: italic;
    text-align: center;
    font-family: 'Kalam', cursive;
}

body {
    margin: 0rem;
}

nav {
    text-align: center;
    background-color: rgb(152, 162, 187);
}

textarea {
    width: 50%;
    height: 1.5in;
    margin: 2rem 3rem;
}

button {
    background-color: rgb(152, 162, 187);
    border: none;
    padding: 1rem 1rem;
    font-size: large;
}

#btn-translate:hover {
    background-color: rgb(211, 217, 187);
}

#output {
    width: 90%;
    height: 1.5in;
    margin: 2rem 3rem;
    overflow: scroll;
    border: 1px solid black;
}


footer {
    /* background-color: rgb(173, 177, 198);*/
    background-color: yellow;
    padding: 1rem;
    margin-top: 2rem;

}

#footer-content {
    font-size: x-large;
    color: rgb(65, 69, 62);
}